.header {
  height: 4rem;
  background-color: #6b9080;
  border-radius: 50px;
}

.content-container {
  padding: 0.5rem 3rem;
}

.footer {
  height: 4rem;
  background-color: #a4c3b2;
  border-radius: 50px;
}