.spinner-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.spin {
  animation: 1s steps(7, end) spinner infinite;
  height: 7rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
