h1 {
  color: #eaf4f4;
  padding-left: 1.5rem;
}

img {
  height: 3rem;
  margin-left: 1rem;
}

.container {
  padding: 0.5rem;
}

.layout-div {
  display: flex;
}

.input-container {
  display: flex;
  align-items: center;
}

.date-label {
  color: #344e41;
}

.date {
  color: #bc6c25;
}

.name-card-header {
  color: #344e41;
}

.name-card-text-container {
  padding-bottom: 1rem;
}

.name-card-text {
  margin: 0rem;
  color: #344e41;
}

.delete-button {
  background-color: #cce3de;
  margin-top: 1rem;
}
