<section class="container">

  <app-layout>

    <!-- Header -->
    <div class="layout-div" header>
      <h1>HEADER TEXT!!!!</h1>
    </div>

    <!-- Main body -->
    <div content>
      <app-card>
        <div>
          <app-foo (isGreaterThan3)="onGreaterThan3($event)"></app-foo>
          <h1
            *ngIf="winCashAndPrizes"
            appColorText
            [color]="'green'"
          >
            {{ cashAndPrizes }}
          </h1>
        </div>
      </app-card>

      <app-card>
        <div>
          <app-foo (isGreaterThan3)="onGreaterThan3($event)"></app-foo>
          <h1
            *ngIf="winCashAndPrizes"
            appColorText
            [color]="'green'"
          >
            {{ cashAndPrizes }}
          </h1>
        </div>
      </app-card>

      <app-card>
        <div>
          <div *ngIf="showCOL">
            <app-circle-of-life [someVal]="value"></app-circle-of-life>
            <button (click)="onUpdateVal()">Update Value</button>
          </div>
          <div>
            <button (click)="onToggleCOL()">Toggle Circle of Life</button>
          </div>
        </div>
      </app-card>

      <app-card>
        <div class="input-container">
          <input type="text" [(ngModel)]="text">
          <img src="../assets/PinClipart.com_spongebob-clipart_5274026.png"/>
        </div>
        <div>
          {{ text | snarkyText }}
        </div>
      </app-card>

      <app-card>
        <button (click)="onNewDate()">New Date</button>
        <p class="date-label">Raw date: <span class="date">{{ date }}</span></p>
        <p class="date-label">With date pipe: <span class="date">{{ date | date }}</span></p>
        <p class="date-label">With date pipe with format string: <span class="date">{{ date | date:'EEEE MM/dd/YYYY' }}</span></p>
      </app-card>
    </div>

    <!-- Footer -->
    <div class="layout-div" footer>
      <h1>FOOTER TEXT!!!!</h1>
    </div>
  </app-layout>
</section>