/* You can add global styles to this file, and also import other style files */

button {
  background-color: #eaf4f4;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #044033;
  margin: 0.25rem;
}
